<!DOCTYPE html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta20
* @link https://tabler.io
* Copyright 2018-2023 The Tabler Authors
* Copyright 2018-2023 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Tabler - Premium and Open Source dashboard template with responsive and
      high quality UI.
    </title>
    <!-- CSS files -->
    <link href="/stylesheets/tabler.min.css?1692870487" rel="stylesheet" />
    <style>
      @import url("https://rsms.me/inter/inter.css");
      :root {
        --tblr-font-sans-serif: "Inter Var", -apple-system, BlinkMacSystemFont,
          San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
        font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body>
    <div class="page">
      <!-- Navbar -->
      <%- include('pages/navbar') %>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">Extension List</h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-lg-12">
                <div class="card">
                  <div class="table-responsive">
                    <table
                      id="domain-table"
                      class="table table-vcenter card-table table-bordered table-nowrap"
                    >
                      <thead>
                        <tr>
                          <td class="w-33">
                            <h2><b id="domainCount">0</b>Domain Extensions</h2>
                            Compare the prices of every domain extension from
                            <b><%=companyCount%></b> registrars
                          </td>
                          <td
                            class="w-auto text-center text-uppercase text-muted font-weight-medium"
                          >
                            Registration
                          </td>
                          <td
                            class="w-auto text-center text-uppercase text-muted font-weight-medium"
                          >
                            Renewal
                          </td>
                          <td
                            class="w-auto text-center text-uppercase text-muted font-weight-medium"
                          >
                            Transfer
                          </td>
                          <td
                            class="w-auto text-center text-uppercase text-muted font-weight-medium"
                          ></td>
                        </tr>
                        <tr>
                          <th></th>
                          <th colspan="4">
                            ~ = Converted to USD
                            <div style="float: right">
                              Last Update Date: <%=lastUpdateDate%>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    <a
                      href="https://tabler.io/docs"
                      target="_blank"
                      class="link-secondary"
                      rel="noopener"
                      >Documentation</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a href="./license.html" class="link-secondary">License</a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://github.com/tabler/tabler"
                      target="_blank"
                      class="link-secondary"
                      rel="noopener"
                      >Source code</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://github.com/sponsors/codecalm"
                      target="_blank"
                      class="link-secondary"
                      rel="noopener"
                    >
                      <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon text-pink icon-filled icon-inline"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
                        />
                      </svg>
                      Sponsor
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="." class="link-secondary">Tabler</a>. All rights
                    reserved.
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="./changelog.html"
                      class="link-secondary"
                      rel="noopener"
                    >
                      v1.0.0-beta20
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="/javascripts/tabler.min.js?1692870487" defer></script>
    <script>
      const tablBody = document.querySelector("#domain-table tbody");
      fetch("/prices", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          let domains = Object.keys(data);

          document.querySelector("#domainCount").innerText = domains.length;

          domains.forEach((domain) => {
            const row = document.createElement("tr");
            row.appendChild(createCell(domain));
            row.appendChild(
              createPriceCell(
                data[domain].new_registration_fees[0]?.price,
                data[domain].new_registration_fees[0]?.company
              )
            );
            row.appendChild(
              createPriceCell(
                data[domain].renewal_fees[0]?.price,
                data[domain].renewal_fees[0]?.company
              )
            );
            row.appendChild(
              createPriceCell(
                data[domain].transfer_fees[0]?.price,
                data[domain].transfer_fees[0]?.company
              )
            );
            row.appendChild(createCell(""));

            tableBody.appendChild(row);
          });
        });

      function createCell(content) {
        const cell = document.createElement("td");
        cell.innerHTML = content;
        return cell;
      }

      function createPriceCell(price, company) {
        let content = `
        <b>$${price}</b> <br>
        ${company}
        `;

        if (!price) {
          content = "-";
        }
        let cell = createCell(content);
        cell.className = "text-center";
        return cell;
      }
    </script>
  </body>
</html>
